button, a.btn {
    border: 1px solid hsl(207,56%,29%);
    border-radius: 4px;
    background-color: hsl(207,56%,36%);
    color: #eeeeff;
    cursor: pointer;
    font-size: 100%;
    font-family: sans-serif, "宋体";
    font-weight: bold;
    line-height: 1.15; 
    overflow: hidden;
    box-sizing: border-box;
    padding: 8px 15px;
    margin: 0;
}
a.btn {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

button:HOVER, a.btn:HOVER {
    color: #ffffff;
    background-color: hsl(207,56%,45%);
}

button:ACTIVE, a.btn:ACTIVE {
    background-color: hsl(207,56%,20%);
    border-bottom-color: #eee;
    border-right-color: #eee;
}

button[disabled], a[disabled].btn {
    cursor: wait;
    color: #eeeeff;
    background-color: gray;
    border-color: hsl(207,0%,36%);
}

/**两个按钮有距离*/
button + button,
button + a.btn,
a.btn + button,
a.btn + a.btn {
    margin-left: 1em;
}

button.D3, a.btn.D3 {
    background-color: #DB5705;
    border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    transition: all .1s ease;
}

.D3:HOVER {
    background-color: #D56f0B;
}


