.flex-row,
.flex-row-start,
.flex-row-start-stretch {
    display: flex;
	flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.flex-row-between,
.flex-row-between-stretch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.flex-row-around,
.flex-row-around-stretch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.flex-row-evenly,
.flex-row-evenly-stretch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items:stretch;
}

.flex-row-end,
.flex-row-end-stretch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items:stretch;
}

.flex-row-center,
.flex-row-center-stretch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:stretch;
}

.flex-column-center,
.flex-column-center-stretch{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:stretch;
}
.flex-column,
.flex-column-start,
.flex-column-start-stretch {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.flex-column-end,
.flex-column-end-stretch {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: stretch;
}
.flex-column-around,
.flex-column-around-stretch{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.flex-column-between,
.flex-column-between-stretch{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.flex-column-evenly,
.flex-column-evenly-stretch{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-row-start-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items:center;
}
.flex-row-end-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items:center;
}
.flex-row-between-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
}

.flex-row-around-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
}
.flex-row-evenly-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items:center;
}
.flex-column-start-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-column-end-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
}
.flex-column-around-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.flex-column-between-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.flex-column-evenly-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-auto{
	flex: auto;
}
.full-parent{
	height: 100%;
	width: 100%;
}

.flex-center-middle,
.flex-middle-center
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}



